html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

aside, main, section {
  overflow-y: auto;
}

.list-group-item.active {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

textarea {
  resize: vertical;
}
